src/etl/extract/credentials.json
**/__pycache__/
*.sqlite

media/climavi_weather/*
media/merged_climavi/*
media/merged_climavi_openmeteo/*
media/openmeteo_weather/*
media/trees/*

data/merged/climavi_tree_climavi_weather/*
data/merged/climavi_tree_openmeteo_weather/*
data/raw/*
data/climavi_sensor_table.csv
data/external/Irrigations2023.json

docs/sensor_selection.md 

results/*

src/analyze_results/*
